.insta{
    text-decoration: none;
    color: black;
}

.fotoro {
    text-decoration: none;
    color: black;
}


#columna-2{
    display:none;
    
}

.lista > a > p{
    font-weight: bold;
}

#fotoRobin{
    width: 100%;
    height: 100%;
    max-width: 370px;
    max-height: 500px;
}

.text-center > a > p {
    font-weight: bold;
}

img{
    width: 900px;
    height: auto;
}

.fotos{
    max-height: 940px;
    overflow-y: scroll;
    padding: 10px;
    
}

.fotos img{
   margin-bottom: 4px;
}

html{
    height: 100%;
}

@media (max-width: 1000px) {
  
    h3{
        margin-top: 10px;
    }
  
    .fotos{
       margin-top: 30px;
       text-align: center;
   }
   .contenido2{
    margin-top: 60px;
    text-align: center;
}
   
}

