body{
    height: 100%;
    
}
.lista >ul>li{
    list-style: none;
}

.sin{
    margin: 0;
}

.lista > a > p{
    font-weight: bold;
}

.text-center > a > p {
    font-weight: bold;
}


img{
    width: 900px;
    height: auto;
}

.fotos{
    max-height: 940px;
    overflow-y: scroll;
    padding: 10px;
    
}

.fotos img{
   margin-bottom: 4px;
}

html{
    height: 100%;
}

#contenedor{
    position: absolute;
    top: 30%;
}

.contenido2{
    height: 100%;
}

#todo{
    height: 100vh;
    margin-bottom: 5px;
}

